{% extends "todo/base.html" %}

{% block title %}To Do Application{% endblock %}

{% block content %}
  {% if request.LANGUAGE_CODE == 'ja' %}
    <h1>タスクを編集</h1>
    <p>以下のフォームからタスクを編集できます。</p>
  {% else %}
    <h1>Edit task</h1>
    <p>You can edit tasks from the following form.</p>
  {% endif %}
  <form action="{% url 'update' task.id%}" method="post">
    {% csrf_token %}
    <div>
      <label for="titleInput">{% if request.LANGUAGE_CODE == 'ja' %}タイトル{% else %}Title{% endif %}</label><br>
      <input id="titleInput" name="title" type="text" placeholder="{% if request.LANGUAGE_CODE == 'ja' %}タイトルを入力{% else %}Input title{% endif %}" value="{{ task.title }}">
    </div>
    <div>
      <label for="dueInput">{% if request.LANGUAGE_CODE == 'ja' %}期限{% else %}Due at{% endif %}</label><br>
      <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
    </div>
    <div>
      <button type="submit">{% if request.LANGUAGE_CODE == 'ja' %}保存{% else %}Submit{% endif %}</button>
    </div>
  </form>
  <br>
{% endblock %}
